[Unit]
Description=Proyecto Grado UD Flask App
After=network.target

[Service]
User=root
WorkingDirectory=/home/stevpi/Desktop/proyectoGradoUD
ExecStart=/bin/bash -c 'source /home/stevpi/venv/bin/activate && python3 /home/stevpi/Desktop/proyectoGradoUD/app.py'
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=proyectoGradoUD

[Install]
WantedBy=multi-user.target
